<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/theme/grua_1.jpg); background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-info opacity-8"></span>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3>EDITAR SERVICIO</h3>
        </div>

        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="submit()">
            <h6 class="heading-small text-muted mb-4">Información del Vehículo</h6>
            <div class="pl-lg-4">

              <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-marca">Marca</label>
                      <input
                        formControlName="marca"
                        [(ngModel)]="vehiculo.marca"
                        id="marca"
                        type="text"
                        class="form-control form-control-alternative">
                      <div *ngIf="f.marca.touched && f.marca.invalid" class="alert alert-danger">
                          <div *ngIf="f.marca.errors.required">*Marca is required.</div>
                          <div *ngIf="f.marca.errors.pattern">*The marca must only contain letters.</div>
                      </div>
                    </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-modelo">Modelo</label>
                    <input
                      formControlName="modelo"
                      [(ngModel)]="vehiculo.modelo"
                      id="modelo"
                      type="text"
                      class="form-control form-control-alternative">
                    <div *ngIf="f.modelo.touched && f.modelo.invalid" class="alert alert-danger">
                        <div *ngIf="f.modelo.errors.required">*Modelo is required.</div>
                        <div *ngIf="f.modelo.errors.pattern">*The modelo must only contain letters.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-foto_vehiculo">Foto del vehículo</label>
                    <input
                      formControlName="foto_vehiculo"
                      id="foto_vehiculo"
                      (change)="capturarFileFotoVehiculo($event)"
                      [(ngModel)]="enviar_fotovehiculo"
                      type="file"
                      class="form-control form-control-alternative">
                    <div *ngIf="previsualizacion">
                      <img width="100px" [src]="previsualizacion" alt="">
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-color">Color</label>
                    <input
                      formControlName="color"
                      [(ngModel)]="vehiculo.color"
                      id="color"
                      type="text"
                      class="form-control form-control-alternative">
                    <div *ngIf="f.color.touched && f.color.invalid" class="alert alert-danger">
                        <div *ngIf="f.color.errors.required">*Color is required.</div>
                        <div *ngIf="f.color.errors.pattern">*The color must only contain letters.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-placas">Placas</label>
                    <input
                      formControlName="placas"
                      [(ngModel)]="vehiculo.placas"
                      id="placas"
                      type="text"
                      class="form-control form-control-alternative">
                    <div *ngIf="f.placas.touched && f.placas.invalid" class="alert alert-danger">
                        <div *ngIf="f.placas.errors.required">*Placas is required.</div>
                        <div *ngIf="f.placas.errors.pattern">*The placas must only contain letters.</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-inventario">Inventario</label>
                    <input
                      formControlName="inventario"
                      [(ngModel)]="vehiculo.inventario"
                      id="inventario"
                      type="text"
                      class="form-control form-control-alternative">
                    <div *ngIf="f.inventario.touched && f.inventario.invalid" class="alert alert-danger">
                        <div *ngIf="f.inventario.errors.pattern">*The inventario must only contain letters.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-foto_inventario">Foto del inventario</label>
                    <input
                      formControlName="foto_inventario"
                      id="foto_inventario"
                      type="file"
                      (change)="capturarFileFotoInventario($event)"
                      [(ngModel)]="enviar_fotoinventario"
                      class="form-control form-control-alternative">
                    <div *ngIf="previsualizacion2">
                      <img width="100px" [src]="previsualizacion2" alt="">
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-llaves">Llaves</label>
                    <span class="clearfix"></span>
                    <label class="custom-toggle">
                      <input  
                      formControlName="llaves" 
                      id="llaves" 
                      type="checkbox">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </div>

                  <div class="form-group">
                    <label class="form-control-label" for="input-llaves">Llaves</label>
                    <span class="clearfix"></span>
                    <label class="custom-toggle">
                      <input  
                      formControlName="llaves" 
                      id="llaves" 
                      type="checkbox">
                      <span class="custom-toggle-slider rounded-circle"></span>
                    </label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-tipo_servicio">Tipo de Servicio</label>
                    <input
                      formControlName="tipo_servicio"
                      [(ngModel)]="vehiculo.tipo_servicio"
                      id="tipo_servicio"
                      type="text"
                      class="form-control form-control-alternative">
                    <div *ngIf="f.tipo_servicio.touched && f.tipo_servicio.invalid" class="alert alert-danger">
                        <div *ngIf="f.tipo_servicio.errors.required">*Tipo Servicio is required.</div>
                        <div *ngIf="f.tipo_servicio.errors.pattern">*The Tipo Servicio must only contain letters.</div>
                    </div>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-lugar_siniestro">Lugar del siniestro</label>
                    <input
                      formControlName="lugar_siniestro"
                      [(ngModel)]="vehiculo.lugar_siniestro"
                      id="lugar_siniestro"
                      type="text"
                      class="form-control form-control-alternative">
                    <div *ngIf="f.lugar_siniestro.touched && f.lugar_siniestro.invalid" class="alert alert-danger">
                        <div *ngIf="f.lugar_siniestro.errors.required">*Lugar Siniestro is required.</div>
                        <div *ngIf="f.lugar_siniestro.errors.pattern">*The Lugar Siniestro must only contain letters.</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-descripción">Cliente</label>
                     <br>
                    <button type="button" class="btn btn-primary btn-sm" (click)="cambioParticular()">Particular</button> 
                    <button type="button" class="btn btn-primary btn-sm" (click)="cambioAseguradora()">Aseguradora</button>
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <div *ngIf="varParticular">
                      <label class="form-control-label" for="input-nombre">Nombre del cliente</label>
                      <input
                      formControlName="nombre"
                      [(ngModel)]="vehiculo.cliente"
                      id="nombre"
                      type="text"
                      class="form-control form-control-alternative">
                      <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
                        <div *ngIf="f.nombre.errors.pattern">*The nombre must only contain letters.</div>
                      </div>
                    </div>

                    <div *ngIf="!varParticular">
                      <label class="form-control-label" for="input-nombre">Aseguradora</label>
                      <select 
                        class="form-control form-control-alternative" 
                        formControlName="nombre"
                        [(ngModel)]="vehiculo.cliente" 
                        id="nombre" 
                        aria-describedby="nombreFeedback" required>
                          <option selected disabled value="">Seleccione una opción</option>
                          <option>GNP Seguros</option>
                          <option>AXA Seguros</option>
                          <option>ABA Seguros</option>
                      </select>
                        <div id="nombreFeedback" class="invalid-feedback">
                          Sucursal is required.
                        </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-descripción">Descripción</label>
                    <input
                      formControlName="descripcion"
                      [(ngModel)]="vehiculo.descripcion"
                      id="descripcion"
                      type="text"
                      class="form-control form-control-alternative">
                    <div *ngIf="f.descripcion.touched && f.descripcion.invalid" class="alert alert-danger">
                        <div *ngIf="f.descripcion.errors.pattern">*The descripcion must only contain letters.</div>
                    </div>
                  </div>
                </div>
                <!--<div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-sucursal">Sucursal</label>
                    <select 
                      class="form-control form-control-alternative" 
                      formControlName="sucursal" 
                      id="sucursal" 
                      aria-describedby="sucursalFeedback" required>
                      <option selected disabled value="">Seleccione una opción</option>
                      <option *ngFor="let sucursal of sucursales">
                      {{sucursal.sucursal}}
                      </option>
                    </select>
                    <div id="sucursalFeedback" class="invalid-feedback">
                      Sucursal is required.
                    </div>
                  </div>
                </div>-->
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-sucursal">Sucursal</label>
                    <select 
                      class="form-control form-control-alternative" 
                      formControlName="sucursal"
                      [(ngModel)]="vehiculo.sucursal" 
                      id="sucursal" 
                      aria-describedby="sucursalFeedback" required>
                        <option selected disabled value="">Seleccione una opción</option>
                        <option>Calkiní</option>
                        <option>Hopelchén</option>
                        <option>Xpujil</option>
                    </select>
                      <div id="sucursalFeedback" class="invalid-feedback">
                        Sucursal is required.
                      </div>
                  </div>
                </div>
              </div>
              <button class="btn btn-info" type="submit" [disabled]="!form.valid">Guardar Cambios</button>
              <button class="btn btn-danger" type="submit" a routerLink="/vehiculo/index">Cancelar</button>
            </div>
          </form>
        </div>
        
      </div>
    </div>
  </div>
</div>