<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/theme/grua_1.jpg); background-size: cover; background-position: center top;">
  <span class="mask bg-gradient-info opacity-8"></span>
</div>


<ng-template #contenido let-modal>
  <div class="modal-header">
    <h4 class="modal-tilte">Datos del servicio</h4>
    <button class="close" aria-label="close" type="button" (click)="modal.close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <div class="modal-body">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="index.component.scss"/>
  

   <table class="tablex">
     <thead>
     	<tr>
     	  <th>ID</th>
        <th scope="row">Marca</th>
        <th scope="row">Modelo</th>
        <th scope="row">Foto del vehículo</th>
        <th scope="row">Color</th>
        <th scope="row">Placas</th>
        <th scope="row">Inventario</th>
        <th scope="row">Foto del inventario</th>
        <th scope="row">Llaves</th>
        <th scope="row">Tipo de servicio</th>
        <th scope="row">Lugar del siniestro</th>
        <th scope="row">Descripción</th>
        <th scope="row">Cliente</th>
        <th scope="row">Sucursal</th>
     	</tr>
     </thead>
     <tbody>
     	  <tr>
          <td data-label="ID">{{ vehiculo.id }}</td>
          <td data-label="Marca">{{ vehiculo.marca }}</td>
          <td data-label="Modelo">{{ vehiculo.modelo }}</td>
          <td data-label="Foto del vehículo" *ngIf="previsualizacion">
            <img width="100px" [src]="previsualizacion" alt="">
          </td>
          <td data-label="Color">{{ vehiculo.color }}</td>
          <td data-label="Placas">{{ vehiculo.placas }}</td>
          <td data-label="Inventario">{{ vehiculo.inventario }}</td>
          <td data-label="Foto del inventario" *ngIf="previsualizacion2">
            <img width="100px" [src]="previsualizacion2" alt="">
          </td>
          <td data-label="Llaves">{{ vehiculo.llaves }}</td>
          <td data-label="Tipo de Servicio">{{ vehiculo.tipo_servicio }}</td>
          <td data-label="Lugar de siniestro">{{ vehiculo.lugar_siniestro }}</td>
          <td data-label="Descripción">{{ vehiculo.descripcion }}</td>
          <td data-label="Nombre">{{ vehiculo.nombre }}</td>
          <td data-label="Sucursal">{{ vehiculo.sucursal }}</td>
     	  </tr>

     </tbody>
   </table>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn ni ni-check-bold  btn-success" (click)="modal.close()"></button>
  </div>
</ng-template>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <br>
        <div class="col">
          <div class="d-flex justify-content-left">
            <div class="searchbar">
              <input class="search_input" type="text" name="filterModelo" placeholder="Buscar... " [(ngModel)]="filterModelo">
              <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
            </div>
            <div class="card-footer">
              <td>
                <label class="form-control-label">Sucursal</label>
                <select class="form-control form-control-alternative" name="filterModelo2" [(ngModel)]="filterModelo2">
                  <option selected disabled value="">Seleccione una opción</option>
                  <option value="">Todos</option>
                  <option value="Calki">Calkiní</option>
                  <option value="Hopel">Hopelchén</option>
                  <option value="Xpuj">Xpujil</option>
                </select>
              </td>
            </div>
          </div>
          
        </div>
        
        <div class="card-header border-0">
          <button class="btn btn-icon btn-3 btn-info" type="button" a routerLink="/vehiculo/create">
            <span class="btn-inner--icon"><i class="ni ni-delivery-fast"></i></span>
            <span class="btn-inner--text">NUEVO SERVICIO</span>
          </button>
        </div>
        <div class="card-header border-0">
          <h3>LISTA DE SERVICIOS</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="media-body">
              <tr>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">ID</span>
                    </div>
                  </div>
                </th>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Marca</span>
                    </div>
                  </div>
                </th>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Modelo</span>
                    </div>
                  </div>
                </th>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Placas</span>
                    </div>
                  </div>
                </th>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">Descripción</span>
                    </div>
                  </div>
                </th>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm"></span>
                    </div>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let vehiculo of vehiculos | filterServicio:filterModelo | filterServicio:filterModelo2">
                <td>{{vehiculo.id}}</td>
                <td>{{ vehiculo.marca }}</td>
                <td>{{ vehiculo.modelo }}</td>
                <td>{{ vehiculo.placas }}</td>
                <td>{{ vehiculo.descripcion }}</td>
                <td>
                  <button class="btn btn-icon btn-3 btn-warning btn-sm" type="button" (click)="openScroll(contenido, vehiculo.id)">
                    <span class="btn-inner--icon"><i class="far fa-eye"></i></span>
                  </button>
                  <button class="btn btn-icon btn-3 btn-warning btn-sm" type="button" [routerLink]="['/vehiculo/', 'edit', vehiculo.id  ]">
                    <span class="btn-inner--icon"><i class="far fa-edit"></i></span>
                    
                  </button>
                  <button class="btn btn-icon btn-3 btn-danger btn-sm" type="button" (click)="deleteVehiculo(vehiculo.id)">
                    <span class="btn-inner--icon"><i class="fas fa-trash-alt"></i></span>
                  </button>
                  <button (click)="createPDF(vehiculo.id)">Crear PDF</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
              <li class="page-item disabled">
                <a class="page-link" href="javascript:void(0)" tabindex="-1">
                  <i class="fas fa-angle-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active">
                <a class="page-link" href="javascript:void(0)">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
              </li>
              <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
              <li class="page-item">
                <a class="page-link" href="javascript:void(0)">
                  <i class="fas fa-angle-right"></i>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/theme/grua_1.jpg); background-size: cover; background-position: center top;">

  <span class="mask bg-gradient-info opacity-8"></span>

</div>

<div class="header bg-white pb-8 pt-5 pt-lg-8 d-flex">

    <div class="header-body">
      <br><br>        

        <div class="container-fluid mt--7">
          <div class="d-flex justify-content-between">
            <div _ngcontent-c6="">
              <i _ngcontent-c6="" class="ni ni-settings text-green" type="button" a routerLink="/vehiculo/create"></i>
              <span _ngcontent-c6="" type="button" a routerLink="/vehiculo/create">&nbsp;Nuevo Servicio</span>
              <br><br>

                    <table class="table bg-lighter border-1px-solid-white">
                      <tr>
                          <th>|ID|</th>
                          <th>Marca</th>
                          <th>Modelo</th>
                          <th>Placas</th>
                          <th>Descripcion</th>
                          <th>Actions</th>
                      </tr>
                      <tr *ngFor="let vehiculo of vehiculos">
                  
                          <td>{{vehiculo.id}}</td>
                          <td>{{ vehiculo.marca }}</td>
                          <td>{{ vehiculo.modelo }}</td>
                          <td>{{ vehiculo.placas }}</td>
                          <td>{{ vehiculo.descripcion }}</td>
                          <td>
                            <div _ngcontent-c6="" type="button">
                              <i _ngcontent-c6="" class="ni ni-zoom-split-in" [routerLink]="['/vehiculo/', 'view', vehiculo.id  ]"></i>
                              <span _ngcontent-c6="" [routerLink]="['/vehiculo/', 'view', vehiculo.id  ]">&nbsp;Ver</span>
                              &nbsp;
                              <i _ngcontent-c6="" class="ni ni-settings-gear-65" [routerLink]="['/vehiculo/', 'edit', vehiculo.id  ]"></i>
                              <span _ngcontent-c6="" [routerLink]="['/vehiculo/', 'edit', vehiculo.id  ]">&nbsp;Editar</span>
                            </div>
                          </td>
                      </tr>
                    </table>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>-->