table {
    border-collapse: collapse;
    border: white 2px solid;
  }
td {
    text-align: center;
    font-size: 2em;
    border: black 2px solid;
}
tr {
    border: black 2px solid;
}
th {
    border: black 2px solid;
}
h3 {
    text-align: center;
}
