<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/theme/grua.jpg); background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-info opacity-8"></span>
</div>

<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3>EDITAR GRÚA</h3>
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="submit()">
              <h6 class="heading-small text-muted mb-4">Información de la grúa</h6>
              <div class="pl-lg-4">
  
                <div class="row">
                  <div class="col-lg-6">
                      <div class="form-group">
                            <label class="form-control-label" for="input-marca">Marca</label>
                            <input
                                formControlName="marca"
                                [(ngModel)]="grua.marca"
                                id="marca"
                                type="text"
                                class="form-control form-control-alternative">
                            <div *ngIf="f.marca.touched && f.marca.invalid" class="alert alert-danger">
                                <div *ngIf="f.marca.errors.required">*Marca is required.</div>
                                <div *ngIf="f.marca.errors.pattern">*The marca must only contain letters.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Modelo</label>
                            <input
                            formControlName="modelo"
                            [(ngModel)]="grua.modelo"
                            id="modelo"
                            type="text"
                            class="form-control form-control-alternative"> 
                            <div *ngIf="f.modelo.touched && f.modelo.invalid" class="alert alert-danger">
                                <div *ngIf="f.modelo.errors.required">*Marca is required.</div>
                                <div *ngIf="f.modelo.errors.pattern">*The marca must only contain string.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Número de Serie</label>
                            <input
                                formControlName="num_serie"
                                [(ngModel)]="grua.num_serie"
                                id="num_serie"
                                type="text"
                                class="form-control form-control-alternative"> 
                            <div *ngIf="f.num_serie.touched && f.num_serie.invalid" class="alert alert-danger">
                                <div *ngIf="f.num_serie.errors.required">*Marca is required.</div>
                                <div *ngIf="f.num_serie.errors.pattern">*The marca must only contain numbers.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Placas</label>
                            <input
                              formControlName="placas"
                              [(ngModel)]="grua.placas"
                              id="placas"
                              type="text"
                              class="form-control form-control-alternative"> 
                              <div *ngIf="f.placas.touched && f.placas.invalid" class="alert alert-danger">
                                  <div *ngIf="f.placas.errors.required">*Marca is required.</div>
                                  <div *ngIf="f.placas.errors.pattern">*The marca must only contain string.</div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Año</label>
                            <input
                                formControlName="anio"
                                id="anio"
                                [(ngModel)]="grua.anio"
                                type="text"
                                class="form-control form-control-alternative"> 
                            <div *ngIf="f.anio.touched && f.anio.invalid" class="alert alert-danger">
                                <div *ngIf="f.anio.errors.required">*Año is required.</div>
                                <div *ngIf="f.anio.errors.pattern">*The año must only contain numbers.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Número de Motor</label>
                            <input
                              formControlName="num_motor"
                              [(ngModel)]="grua.num_motor"
                              id="num_motor"
                              type="text"
                              class="form-control form-control-alternative">    
                              <div *ngIf="f.num_motor.touched && f.num_motor.invalid" class="alert alert-danger">
                                  <div *ngIf="f.num_motor.errors.required">*Marca is required.</div>
                                  <div *ngIf="f.num_motor.errors.pattern">*The marca must only contain numbers.</div>
                              </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Tipo</label>
                            <select 
                                class="form-control form-control-alternative" 
                                formControlName="tipo_est_o_fed" 
                                [(ngModel)]="grua.tipo_est_o_fed"
                                id="tipo_est_o_fed" 
                                type="text"
                                aria-describedby="tipo_est_o_fedFeedback" required>
                                <option selected disabled value="">Seleccione una opción</option>
                                <option>Estatal</option>
                                <option>Federal</option>
                            </select>
                            <div id="tipo_est_o_fedFeedback" class="invalid-feedback">
                                Tipo estatal o federal is required.
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Tarjeta de Circulación</label>
                            <input
                                formControlName="doc_tarjcirculacion"
                                id="doc_tarjcirculacion"
                                (change)="capturarFileDoc1($event)"
                                [(ngModel)]="enviar_doc1"
                                type="file"
                                class="form-control form-control-alternative">
                                <input 
                                formControlName="doc_tarjcirculacion"
                                [(ngModel)]="grua.doc_tarjcirculacion" 
                                type="text"
                                class="form-control form-control-alternative" 
                                disabled="false">                   
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Carta Porte</label>
                            <input
                                formControlName="doc_cartaporte"
                                id="doc_cartaporte"
                                (change)="capturarFileDoc2($event)"
                                [(ngModel)]="enviar_doc2"
                                type="file"
                                class="form-control form-control-alternative">
                            <input
                              formControlName="doc_cartaporte"
                              [(ngModel)]="grua.doc_cartaporte"
                              type="text"
                              class="form-control form-control-alternative"
                              disabled="false">                            
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Póliza de Seguro</label>
                            <input
                                formControlName="doc_polizaseguro"
                                id="doc_polizaseguro"
                                (change)="capturarFileDoc3($event)"
                                [(ngModel)]="enviar_doc3 || grua.doc_polizaseguro"
                                type="file"
                                class="form-control form-control-alternative">
                            <input
                                formControlName="doc_polizaseguro"
                                [(ngModel)]="grua.doc_polizaseguro"
                                type="text"
                                class="form-control form-control-alternative"
                                disabled="false">                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Factura</label>
                            
                            <input
                              formControlName="doc_factura"
                              [(ngModel)]="grua.doc_factura"
                              id="doc_factura"
                              type="text"
                              class="form-control form-control-alternative">                            
                              <div *ngIf="f.doc_factura.touched && f.doc_factura.invalid" class="alert alert-danger">
                                  <div *ngIf="f.doc_factura.errors.required">*Marca is required.</div>
                                  <div *ngIf="f.doc_factura.errors.pattern">*The marca must only contain letters.</div>
                              </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Conseción</label>
                            <input
                                formControlName="doc_consecion"
                                [(ngModel)]="grua.doc_consecion"
                                id="doc_consecion"
                                type="text"
                                class="form-control form-control-alternative">     
                            <div *ngIf="f.doc_consecion.touched && f.doc_consecion.invalid" class="alert alert-danger">
                                <div *ngIf="f.doc_consecion.errors.required">*Año is required.</div>
                                <div *ngIf="f.doc_consecion.errors.pattern">*The año must only contain letters.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Inclusión</label>
                            <input
                              formControlName="doc_inclusion"
                              [(ngModel)]="grua.doc_inclusion"
                              id="doc_inclusion"
                              type="text"
                              class="form-control form-control-alternative">                            
                              <div *ngIf="f.doc_inclusion.touched && f.doc_inclusion.invalid" class="alert alert-danger">
                                  <div *ngIf="f.doc_inclusion.errors.required">*Marca is required.</div>
                                  <div *ngIf="f.doc_inclusion.errors.pattern">*The marca must only contain letters.</div>
                              </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Permiso Físico-mecánico</label>
                            <input
                                formControlName="doc_permiso_fisicomec"
                                [(ngModel)]="grua.doc_permiso_fisicomec"
                                id="doc_permiso_fisicomec"
                                type="text"
                                class="form-control form-control-alternative">                            
                            <div *ngIf="f.doc_permiso_fisicomec.touched && f.doc_permiso_fisicomec.invalid" class="alert alert-danger">
                                <div *ngIf="f.doc_permiso_fisicomec.errors.required">*Año is required.</div>
                                <div *ngIf="f.doc_permiso_fisicomec.errors.pattern">*The año must only contain letters.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label" for="input-marca">Anticontaminantes</label>
                            <input
                              formControlName="doc_anticontaminantes"
                              [(ngModel)]="grua.doc_anticontaminantes"
                              id="doc_anticontaminantes"
                              type="text"
                              class="form-control form-control-alternative">                             
                              <div *ngIf="f.doc_anticontaminantes.touched && f.doc_anticontaminantes.invalid" class="alert alert-danger">
                                  <div *ngIf="f.doc_anticontaminantes.errors.required">*Marca is required.</div>
                                  <div *ngIf="f.doc_anticontaminantes.errors.pattern">*The marca must only contain letters.</div>
                              </div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-info" type="submit" [disabled]="!form.valid">Guardar Cambios</button>
                <button class="btn btn-danger" type="submit" a
                                routerLink="/grua/indexGrua">Cancelar</button>
            </div>
            </form> 
        </div>
      </div>
    </div>
</div> 
