.searchbar{
            margin-bottom: auto;
            margin-top: auto;
            height: 35px; //tamaño de la barra
            background-color: rgb(115, 226, 226);
            border-radius: 30px;
            padding: 3px;
}
      
      //texto
.search_input{
      color: rgb(0, 0, 0);
      border: 0;
      outline: 0;
      text-align: center;
      background: none;
      width: 0;
      caret-color:transparent;
      line-height: 10px;
      transition: width 0.4s linear;
}
  
.searchbar:hover > .search_input{
      width: 450px;
      caret-color: #73B1DD;
      transition: width 0.4s linear;
}
  
.searchbar:hover > .search_icon{
      background: none;
      color: white;
      padding: 0 px;
}
  
.search_icon{
      height: 30px;
      width: 30px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color:white;
      text-decoration:none;
}

h3
{
      text-align: center;
}