<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/theme/Corralon.jpg); background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-info opacity-8"></span>
</div>
  
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3>SERVICIO DENTRO DEL CORRALÓN</h3>
          </div>
  
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="submit()">
              <h6 class="heading-small text-muted mb-4">Información del Servicio</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-modelo">Fecha de entrada</label>
                        <input
                        formControlName="fecha_entrada"
                        id="fecha_entrada"
                        type="date"
                        class="form-control form-control-alternative">
                      </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-otro_asunto">Otro asunto</label>
                      <input
                        formControlName="otro_asunto"
                        id="otro_asunto"
                        type="text"
                        class="form-control form-control-alternative">
                        <div *ngIf="f.otro_asunto.touched && f.otro_asunto.invalid" class="alert alert-danger">
                            <div *ngIf="f.otro_asunto.errors.required">*otro_asunto is required.</div>
                            <div *ngIf="f.otro_asunto.errors.pattern">*The otro_asunto must only contain letters.</div>
                        </div>
                    </div>
                  </div>

                  <div class="col-lg-6" style="display: none">
                    <div class="form-group">
                      <label class="form-control-label" for="input-pension_c">Pensión en el corralón</label>
                      <input
                        formControlName="pension_c"
                        [(ngModel)]="p"
                        id="pension_c"
                        type="text"
                        class="form-control form-control-alternative">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-6" style="display: none">
                    <div class="form-group">
                      <label class="form-control-label" for="input-fecha_entrega">Fecha de entrega</label>
                      <input
                        formControlName="fecha_entrega"
                        id="fecha_entrega"
                        type="date"
                        class="form-control form-control-alternative">
                    </div>
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-lg-6" style="display: none">
                    <div class="form-group">
                      <label class="form-control-label" for="input-dias_pension">Días de pensión</label>
                      <input
                        formControlName="dias_pension"
                        [(ngModel)]="vehiculo.id"
                        id="dias_pension"
                        type="text"
                        class="form-control form-control-alternative">
                        <div *ngIf="f.dias_pension.touched && f.dias_pension.invalid" class="alert alert-danger">
                            <div *ngIf="f.dias_pension.errors.required">*dias_pension is required.</div>
                            <div *ngIf="f.dias_pension.errors.pattern">*The dias_pension must only contain numbers.</div>
                        </div>
                    </div>
                  </div>
          
                  <div class="col-lg-6" style="display: none">
                    <div class="form-group">
                      <label class="form-control-label" for="input-status_entrega">Estado de entrega</label>
                      <select 
                        class="form-control form-control-alternative" 
                        formControlName="status_entrega" 
                        id="status_entrega">
                          <option selected disabled value="">Seleccione una opción</option>
                          <option>Entregado</option>
                          <option>No Entregado</option>
                      </select>
                    </div>
                  </div>
                </div>
              
                <div class="row" style="display: none"> 
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-foto_inventario">ID Vehículo</label>
                      <input
                        formControlName="id_vehiculo"
                        [(ngModel)]="vehiculo.id"
                        id="id_vehiculo"
                        type="text"
                        class="form-control">
                        <div *ngIf="f.id_vehiculo.touched && f.id_vehiculo.invalid" class="alert alert-danger">
                            <div *ngIf="f.id_vehiculo.errors.required">*id_vehiculo is required.</div>
                            <div *ngIf="f.id_vehiculo.errors.pattern">*id_vehiculo must only contain numbers.</div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row"> 
                  <div class="col-lg-6" style="display: none">
                    <div class="form-group">
                      <label class="form-control-label" for="input-foto_inventario">Sucursal Vehículo</label>
                      <input
                        formControlName="sucursal"
                        [(ngModel)]="vehiculo.sucursal"
                        id="sucursal"
                        type="text"
                        class="form-control">
                        <div *ngIf="f.sucursal.touched && f.sucursal.invalid" class="alert alert-danger">
                            <div *ngIf="f.sucursal.errors.required">*id_vehiculo is required.</div>
                            <div *ngIf="f.sucursal.errors.pattern">*id_vehiculo must only contain numbers.</div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-catalogo">Catalogo</label>
                      <select 
                        class="form-control form-control-alternative" 
                        formControlName="tipo_vehiculo" 
                        id="tipo_vehiculo" 
                        aria-describedby="tipo_vehiculoFeedback" required>
                        <option selected disabled value="">Seleccione una opción</option>
                        <option *ngFor="let catalogo of catalogos">
                        {{catalogo.tipoVehiculo}}
                        </option>
                      </select>
                      <div id="tipo_vehiculoFeedback" class="invalid-feedback">
                        Sucursal is required.
                      </div>
                    </div>
                  </div>
                </div>
                <button class="btn btn-success" type="submit" [disabled]="!form.valid">Agregar</button>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>
</div>