<div class="header pb-5 pt-5 pt-lg-5 d-flex align-items-center" style="min-height: 20px; background-image: url(assets/img/theme/Corralon.jpg); background-size: cover; background-position: center top;">
    <!-- Mask -->

    <span class="mask bg-gradient-info opacity-8"></span>
    <!-- Header container -->
  </div>
  
  <div class="header bg-white pb-8 pt-5 pt-md-0">
    <div class="container-fluid">
      <div class="header-body">
          
        <br><br>
 
    <div _ngcontent-c6="" type="button" a routerLink="/corralon/createCorralon"></div>
    <i _ngcontent-c6="" class="ni ni-collection text-blue"></i>
    <span _ngcontent-c6="" type="button" a routerLink="/corralon/createCorralon"> Agregar Nvo</span>
    <a href="#" routerLink="/corralon/indexCorralon" class="btn btn-primaryt">Regresar</a>
    <div class="d-flex justify-content-between">
  
  
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow"  class="table-responsive text-nowrap">
        
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Lista del corralon</h3>
        </div>
  
        <table class="table bg-lighter border-1px-solid-white">
          <tr>
            <th>ID</th>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Foto vehiculo</th>
            <th>Color</th>
            <th>Placas</th>
            <th>Inventario</th>
            <th>Foto</th>
            <th>llaves</th>
            <th>Tipo Servicio</th>
            <th>Lugar siniestro</th>
            <th>Descripcion</th>
            <th>Nombre</th>
            <th>Sucursal</th>
            <th>Corralon</th>
            <th>Actions</th>
          </tr>
          <tr *ngFor="let vehiculo of vehiculos">
    
            <td>{{vehiculo.id}}</td>
            <td>{{ vehiculo.modelo }}</td>
            <td>{{ vehiculo.marca }}</td>
            <td>{{ vehiculo.foto_vehiculo }}</td>
            <td>{{ vehiculo.color }}</td>
            <td>{{ vehiculo.placas }}</td>
            <td>{{ vehiculo.inventario }}</td>
            <td>{{ vehiculo.foto_inventario }}</td>
            <td>{{ vehiculo.llaves }}</td>
            <td>{{ vehiculo.tipo_servicio }}</td>
            <td>{{ vehiculo.lugar_siniestro }}</td>
            <td>{{ vehiculo.descripcion }}</td>
            <td>{{ vehiculo.nombre }}</td>
            <td>{{ vehiculo.sucursal }}</td>
            <td>{{ vehiculo.corralon }}</td>
        </tr>
      </table>
    </div>
  </div>
  </div>
  <!-- Page content -->
  </div>
  </div>
  </div>
  
