<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/grua_1.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-info opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello Jesse</h1>
        <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
        <a href="#!" class="btn btn-info">Edit profile</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid bg-gradient-red mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Agregar Nuevo Servicio</h3>
            </div>
            <div class="col-4 text-right">
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Información del Vehículo</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-marca">Marca</label>
                    <input type="text" id="input-marca" class="form-control form-control-alternative" placeholder="Ej: Chevrolet">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-modelo">Modelo</label>
                    <input type="text" id="input-modelo" class="form-control form-control-alternative" placeholder="Ej: Año 2001">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-foto_vehiculo">Foto del vehículo</label>
                    <input type="text" id="input-foto_vehiculo" class="form-control form-control-alternative" placeholder="Agregue una foto del vehículo si es que tiene">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-color">Color</label>
                    <input type="text" id="input-color" class="form-control form-control-alternative" placeholder="Ej: Plateado">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-placas">Placas</label>
                    <input type="text" id="input-placas" class="form-control form-control-alternative" placeholder="Ej: AAA-00-00">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-inventario">Inventario</label>
                    <input type="text" id="input-inventario" class="form-control form-control-alternative" placeholder="Ej: Stereo, documentos, botellas, accesorios">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-foto_inventario">Foto del inventario</label>
                    <input type="text" id="input-foto_inventario" class="form-control form-control-alternative" placeholder="Agregue una foto del inventario si es que tiene">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-llaves">Llaves</label>
                    <input type="text" id="input-llaves" class="form-control form-control-alternative" placeholder="Especifique si dejo las llaves o no">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-corralon_si_o_no">¿Corralón?</label>
                    <input type="text" id="input-corralon_si_o_no" class="form-control 
                    form-control-alternative" placeholder="Especifique si el vehículo entro al corralon">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Información del servicio</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-tipo_servicio">Tipo de Servicio</label>
                    <input type="text" id="input-tipo_servicio" class="form-control form-control-alternative" placeholder="Ej: Arrastre">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-lugar_siniestro">Lugar del siniestro</label>
                    <input type="text" id="input-lugar_siniestro" class="form-control form-control-alternative" placeholder="Ej: Calle 22-A Col. Kilakán">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-descripción">Descripción</label>
                    <input type="text" id="input-descripcion" class="form-control 
                    form-control-alternative" placeholder="Descripción a detalle del servicio">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Particular -->
            <h6 class="heading-small text-muted mb-4">Información del dueño</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-nombre_particular">Nombre</label>
                    <input type="text" id="input-nombre_particular" class="form-control form-control-alternative" placeholder="Ej: Alejandro">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-apellido_p">Apellido Paterno</label>
                    <input type="text" id="input-apellido_p" class="form-control form-control-alternative" placeholder="Ej: Noh">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-apellido_m">Apellido Materno</label>
                    <input type="text" id="input-apellido_m" class="form-control form-control-alternative" placeholder="Ej: Hernández">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Aseguradora -->
            <h6 class="heading-small text-muted mb-4">Información de la compañía</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-nombre_aseguradora">Nombre</label>
                    <input type="text" id="input-nombre_aseguradora" class="form-control 
                    form-control-alternative" placeholder="Ej: AXA Seguros">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Corralón -->
            <h6 class="heading-small text-muted mb-4">Datos de ingreso al corralón</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-fecha_entrada">Fecha de Entrada</label>
                    <input type="date" id="input-fecha_entrada" class="form-control form-control-alternative">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-pension_corralon">¿Pensión en el corralón?</label>
                    <input type="text" id="input-pension_corralon" class="form-control form-control-alternative" placeholder="Especifique si tendrá pensión o no">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-dias_pension">Días de pensión</label>
                    <input type="text" id="input-dias_pension" class="form-control form-control-alternative" placeholder="Ej: 30">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-status_entrega">Estatus de entrega</label>
                    <input type="text" id="input-estatus_entrega" class="form-control form-control-alternative" placeholder="Especifique si ya fue entregago o no">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-fecha_entrega">Fecha de entrega</label>
                    <input type="date" id="input-fecha_entrega" class="form-control form-control-alternative">
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label class="form-control-label" for="input-otro_asunto">Otro asunto</label>
                    <input type="text" id="input-otro_asunto" class="form-control form-control-alternative" placeholder="Especifique cualquier otro asunto">
                  </div>
                </div>
              </div>
            </div>
          </form>
          <a href="#!" class="btn btn-info">Registrar</a>
        </div>
      </div>
    </div>
  </div>
</div>