<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 300px; background-image: url(assets/img/theme/chofer.jpg); background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-info opacity-8"></span>
</div>

<div class="container-fluid mt--7">
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header border-0">
                    <h3>AGREGAR NUEVO CHOFER</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="form" (ngSubmit)="submit()">
                        <h6 class="heading-small text-muted mb-4">Información del chofer</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-nombre">Nombre</label>
                                        <input formControlName="nombre" id="nombre                        " type="text"
                                            class="form-control form-control-alternative">
                                        <div *ngIf="f.nombre.touched && f.nombre.invalid" class="alert alert-danger">
                                            <div *ngIf="f.nombre.errors.required">*Marca is required.</div>
                                            <div *ngIf="f.nombre.errors.pattern">*The marca must only contain letters.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-apellido_p">Apellido
                                            Paterno</label>
                                        <input formControlName="apellido_p" id="apellido_p" type="text"
                                            class="form-control form-control-alternative">
                                        <div *ngIf="f.apellido_p.touched && f.apellido_p.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.apellido_p.errors.required">*Marca is required.</div>
                                            <div *ngIf="f.apellido_p.errors.pattern">*The marca must only contain
                                                string.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-apellido_m">Apellido
                                            Materno</label>
                                        <input formControlName="apellido_m" id="nombre                        "
                                            type="text" class="form-control form-control-alternative">
                                        <div *ngIf="f.apellido_m.touched && f.apellido_m.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.apellido_m.errors.required">*Marca is required.</div>
                                            <div *ngIf="f.apellido_m.pattern">*The marca must only contain letters.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-edad">Edad</label>
                                        <input formControlName="edad" id="edad" type="text"
                                            class="form-control form-control-alternative">
                                        <div *ngIf="f.edad.touched && f.edad.invalid" class="alert alert-danger">
                                            <div *ngIf="f.edad.errors.required">*Marca is required.</div>
                                            <div *ngIf="f.edad.errors.pattern">*The marca must only contain numbers.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-doc_lic_fed">Licencia
                                            Federal</label>
                                        <input formControlName="doc_lic_fed" id="doc_lic_fed" type="file"
                                            class="form-control form-control-alternative">
                                        <div *ngIf="f.doc_lic_fed.touched && f.doc_lic_fed.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.doc_lic_fed.errors.required">*Marca is required.</div>
                                            <div *ngIf="f.doc_lic_fed.pattern">*The marca must only contain letters.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-fecha_lic_fed">Fecha licencia
                                            federal</label>
                                        <input formControlName="fecha_lic_fed" id="fecha_lic_fed" type="date"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-num_lic_fed">Número de licencia
                                            federal</label>
                                        <input formControlName="num_lic_fed" id="num_lic_fed" type="text"
                                            class="form-control form-control-alternative">
                                        <div *ngIf="f.num_lic_fed.touched && f.num_lic_fed.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.num_lic_fed.errors.required">*Marca is required.</div>
                                            <div *ngIf="f.num_lic_fed.pattern">*The marca must only contain numbers.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-doc_lic_est">Licencia
                                            Estatal</label>
                                        <input formControlName="doc_lic_est" id="doc_lic_est" type="file"
                                            class="form-control form-control-alternative">
                                        <div *ngIf="f.doc_lic_est.touched && f.doc_lic_est.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.doc_lic_est.errors.required">*Marca is required.</div>
                                            <div *ngIf="f.doc_lic_est.pattern">*The marca must only contain letters.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-fecha_lic_est">Fecha licencia
                                            estatal</label>
                                        <input formControlName="fecha_lic_est" id="fecha_lic_est" type="date"
                                            class="form-control form-control-alternative">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-num_lic_est">Número de licencia
                                            estatal</label>
                                        <input formControlName="num_lic_est" id="num_lic_est" type="text"
                                            class="form-control form-control-alternative">
                                        <div *ngIf="f.num_lic_est.touched && f.num_lic_est.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.num_lic_est.errors.required">*Marca is required.</div>
                                            <div *ngIf="f.num_lic_est.pattern">*The marca must only contain numbers.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-doc_ine">INE</label>
                                        <input formControlName="doc_ine" id="doc_ine" type="file"
                                            class="form-control form-control-alternative">
                                        <div *ngIf="f.doc_ine.touched && f.doc_ine.invalid" class="alert alert-danger">
                                            <div *ngIf="f.doc_ine.errors.required">*Marca is required.</div>
                                            <div *ngIf="f.doc_ine.pattern">*The marca must only contain letters.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-doc_curp">CURP</label>
                                        <input formControlName="doc_curp" id="doc_curp" type="file"
                                            class="form-control form-control-alternative">
                                        <div *ngIf="f.doc_curp.touched && f.doc_curp.invalid"
                                            class="alert alert-danger">
                                            <div *ngIf="f.doc_curp.errors.required">*Marca is required.</div>
                                            <div *ngIf="f.doc_curp.pattern">*The marca must only contain letters.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success" type="submit" [disabled]="!form.valid">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>