<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/theme/grua_1.jpg); background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-info opacity-8"></span>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h3>DATOS COMPLETOS</h3>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="media-body">
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">ID</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Marca</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Modelo</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Numero de Serie</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Placas</span>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ grua.id }}</td>
                  <td>{{ grua.marca }}</td>
                  <td>{{ grua.modelo }}</td>
                  <td>{{ grua.num_serie }}</td>
                  <td>{{ grua.placas }}</td>
                </tr>
              </tbody>
              <thead class="media-body">
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Año</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Numero de Motor</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Tipo Federal o Estatal</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Documento Tarjeta de Circulacion</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Documento Cartaporte</span>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ grua.anio }}</td>
                  <td>{{ grua.num_motor }}</td>
                  <td>{{ grua.tipo_est_o_fed }}</td>
                  <td>{{ grua.doc_tarjcirculacion }}</td>
                  <td>{{ grua.doc_cartaporte }}</td>
                </tr>
              </tbody>
              <thead class="media-body">
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Documento Poliza Seguro</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Documento Factura</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Documento Consecion</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Documento Inclusion</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Documento Permiso Fisicomec</span>
                      </div>
                    </div>
                  </th>
                  <th scope="row">
                    <div class="media align-items-center">
                      <div class="media-body">
                        <span class="mb-0 text-sm">Documento Anticontaminantes</span>
                      </div>
                    </div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ grua.doc_polizaseguro }}</td>
                  <td>{{ grua.doc_factura }}</td>
                  <td>{{ grua.doc_consecion }}</td>
                  <td>{{ grua.doc_inclusion }}</td>
                  <td>{{ grua.doc_permiso_fisicomec }}</td>
                  <td>{{ grua.doc_anticontaminantes }}</td>
                </tr>
              </tbody>
            </table>
          </div> 
        </div>
      </div>
    </div>
</div>
