<div class="header bg-white pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <br><br>
        
<!-- Page content -->
<div class="container-fluid mt--7">

  <div _ngcontent-c6="" type="button" a routerLink="/corralon/createCorralon"></div>
  <i _ngcontent-c6="" class="ni ni-collection text-blue"></i>
  <span _ngcontent-c6="" a routerLink="/corralon/createCorralon"> Agregar </span>
  
  <div class="d-flex justify-content-between">


<!-- Table -->
<div class="row">
  <div class="col">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <h3 class="mb-0">Lista del corralon</h3>
      </div>

    <table class="table ">
      <tr>
        <th>ID</th>
        <th>ID Vehiculo</th>
        <th>Fecha de entrada</th>
        <th>Pensión</th>
        <th>Días de pensión</th>
        <th>Status de entrega</th>
        <th>Fecha de entrega</th>
        <th>Otro asunto</th>
        <th></th>
        <th width="200px">Acción</th>
      </tr>
      <tr *ngFor="let corralon of corralons">
        <td>{{ corralon.id }}</td>
        <td>{{ corralon.id_vehiculo }}</td>
        <td>{{ corralon.fecha_entrada }}</td>
        <td>{{ corralon.pension_c }}</td>
        <td>{{ corralon.dias_pension }}</td>
        <td>{{ corralon.status_entrega }}</td>
        <td>{{ corralon.fecha_entrega }}</td>
        <td>{{ corralon.otro_asunto }}</td>
        <td>
          <i _ngcontent-c6="" class="ni ni-settings-gear-65" [routerLink]="['/corralon/', 'editCorralon', corralon.id  ]"></i>

              <span _ngcontent-c6="" [routerLink]="['/corralon/', 'editCorralon', corralon.id  ]">&nbsp;Editar</span>
          <button type="button" (click)="deleteCorralon(corralon.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </table>
  </div>
</div>
</div>
<!-- Page content -->
</div>
</div>
</div>

