<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 300px; background-image: url(assets/img/theme/grua.jpg); background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-info opacity-8"></span>
</div>

<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <button class="btn btn-icon btn-3 btn-info" type="button" a routerLink="/grua/createGrua">
              <span class="btn-inner--icon"><i class="ni ni-bus-front-12"></i></span>
              <span class="btn-inner--text">AGREGAR NUEVA</span>
            </button>
          </div>
          <div class="card-header border-0">
                <h3>LISTA DE GRÚAS</h3>
          </div>
          <div class="table-responsive">
                <table class="table align-items-center table-flush">
                  <thead class="media-body">
                    <tr>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm">ID</span>
                          </div>
                        </div>
                      </th>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm">Marca</span>
                          </div>
                        </div>
                      </th>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm">Modelo</span>
                          </div>
                        </div>
                      </th>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm">Número de serie</span>
                          </div>
                        </div>
                      </th>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm">Placas</span>
                          </div>
                        </div>
                      </th>
                      <th scope="row">
                        <div class="media align-items-center">
                          <div class="media-body">
                            <span class="mb-0 text-sm"></span>
                          </div>
                        </div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let grua of gruas">
                      <td>{{grua.id}}</td>
                      <td>{{ grua.marca }}</td>
                      <td>{{ grua.modelo }}</td>
                      <td>{{ grua.num_serie }}</td>
                      <td>{{ grua.placas }}</td>
                      <td>
                        <button class="btn btn-icon btn-3 btn-warning btn-sm" type="button" [routerLink]="['/grua/', 'viewGrua', grua.id  ]">
                          <span class="btn-inner--icon"><i class="ni ni-zoom-split-in"></i></span>
                          <span class="btn-inner--text">Ver</span>
                        </button>
                        <button class="btn btn-icon btn-3 btn-warning btn-sm" type="button" [routerLink]="['/grua/', 'editGrua', grua.id  ]">
                          <span class="btn-inner--icon"><i class="ni ni-settings-gear-65"></i></span>
                          <span class="btn-inner--text">Editar</span>
                        </button>
                        <button class="btn btn-icon btn-3 btn-danger btn-sm" type="button" (click)="deleteVehiculo(grua.id)">
                          <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span>
                          <span class="btn-inner--text">Borrar</span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
